<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data16</key>
	<dict>
		<key>name</key>
		<string>クレイベリー</string>
		<key>rgb</key>
		<string>RB+</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>「10年に1人の人材」と噂される天才プログラマー。</string>
	</dict>
	<key>data15</key>
	<dict>
		<key>name</key>
		<string>めろたん</string>
		<key>rgb</key>
		<string>RB-</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>「10年に1人の人材」と噂される天才プログラマー。</string>
	</dict>
	<key>data14</key>
	<dict>
		<key>name</key>
		<string>ミオ</string>
		<key>rgb</key>
		<string>BB+</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>「10年に1人の人材」と噂される天才プログラマー。</string>
	</dict>
	<key>data13</key>
	<dict>
		<key>name</key>
		<string>みみー</string>
		<key>rgb</key>
		<string>BB-</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>「10年に1人の人材」と噂される天才プログラマー。</string>
	</dict>
	<key>data12</key>
	<dict>
		<key>name</key>
		<string>パティナ</string>
		<key>rgb</key>
		<string>BG+</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>「10年に1人の人材」と噂される天才プログラマー。</string>
	</dict>
	<key>data11</key>
	<dict>
		<key>name</key>
		<string>みくり</string>
		<key>rgb</key>
		<string>BG-</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>「10年に1人の人材」と噂される天才プログラマー。</string>
	</dict>
	<key>data10</key>
	<dict>
		<key>name</key>
		<string>リッシュ</string>
		<key>rgb</key>
		<string>GG+</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>「10年に1人の人材」と噂される天才プログラマー。</string>
	</dict>
	<key>data9</key>
	<dict>
		<key>name</key>
		<string>もじゃり</string>
		<key>rgb</key>
		<string>GG-</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>「10年に1人の人材」と噂される天才プログラマー。</string>
	</dict>
	<key>data8</key>
	<dict>
		<key>name</key>
		<string>メープル</string>
		<key>rgb</key>
		<string>RG+</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>「10年に1人の人材」と噂される天才プログラマー。</string>
	</dict>
	<key>data7</key>
	<dict>
		<key>name</key>
		<string>もこ</string>
		<key>rgb</key>
		<string>RG-</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>「10年に1人の人材」と噂される天才プログラマー。</string>
	</dict>
	<key>data6</key>
	<dict>
		<key>name</key>
		<string>マッグル</string>
		<key>rgb</key>
		<string>RR+</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>「10年に1人の人材」と噂される天才プログラマー。</string>
	</dict>
	<key>data5</key>
	<dict>
		<key>name</key>
		<string>あかどん</string>
		<key>rgb</key>
		<string>RR-</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>「10年に1人の人材」と噂される天才プログラマー。</string>
	</dict>
	<key>data4</key>
	<dict>
		<key>name</key>
		<string>のーむん</string>
		<key>rgb</key>
		<string>G</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>「10年に1人の人材」と噂される天才プログラマー。</string>
	</dict>
	<key>data3</key>
	<dict>
		<key>name</key>
		<string>ぴちょん</string>
		<key>rgb</key>
		<string>B</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>「10年に1人の人材」と噂される天才プログラマー。</string>
	</dict>
	<key>data2</key>
	<dict>
		<key>name</key>
		<string>もえるん</string>
		<key>rgb</key>
		<string>R</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>体が大きくて怖がられるけど、実は優しい心の持ち主。</string>
	</dict>
	<key>data1</key>
	<dict>
		<key>name</key>
		<string>もちりん</string>
		<key>rgb</key>
		<string>NORMAL</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>サッカーをするのが大好き。情に厚い。</string>
	</dict>
</dict>
</plist>
