<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data16</key>
	<dict>
		<key>name</key>
		<string>クレイベリー</string>
		<key>rgb</key>
		<string>RB+</string>
		<key>haved</key>
		<false/>
		<key>text</key>
		<string>頭が良く非常に活発的。ただ人への愛が打算的で、愛したらもう誰にも止められない。</string>
	</dict>
	<key>data15</key>
	<dict>
		<key>name</key>
		<string>めろたん</string>
		<key>rgb</key>
		<string>RB-</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>甘いものをこよなく愛する。人懐っこいけれど、何だか見る目がおかしい。</string>
	</dict>
	<key>data14</key>
	<dict>
		<key>name</key>
		<string>ミオ</string>
		<key>rgb</key>
		<string>BB+</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>みんなの頼れるリーダー。頭についている2つの球体は、感情に合わせて動く。</string>
	</dict>
	<key>data13</key>
	<dict>
		<key>name</key>
		<string>みみー</string>
		<key>rgb</key>
		<string>BB-</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>歩いた場所に水たまりを作ったりする。小心者で流されやすく、体もどこかに流れてる…？</string>
	</dict>
	<key>data12</key>
	<dict>
		<key>name</key>
		<string>パティナ</string>
		<key>rgb</key>
		<string>BG+</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>のんびりした性格。不思議な力で空を飛ぶことができる。</string>
	</dict>
	<key>data11</key>
	<dict>
		<key>name</key>
		<string>みくり</string>
		<key>rgb</key>
		<string>BG-</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>穏やかで基本的には無表情で、その時は三日月のようなアンテナで月との伝達をしている。</string>
	</dict>
	<key>data10</key>
	<dict>
		<key>name</key>
		<string>リッシュ</string>
		<key>rgb</key>
		<string>GG+</string>
		<key>haved</key>
		<false/>
		<key>text</key>
		<string>クールで情熱的な性格をしていて、大人気である。そして走るスピードが非常に早い。</string>
	</dict>
	<key>data9</key>
	<dict>
		<key>name</key>
		<string>もじゃり</string>
		<key>rgb</key>
		<string>GG-</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>恥ずかしがり屋で少し消極的な性格。その反面、誰かと遊ぶことがとても大好き。</string>
	</dict>
	<key>data8</key>
	<dict>
		<key>name</key>
		<string>メープル</string>
		<key>rgb</key>
		<string>RG+</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>困ったことは放っておけない明るい性格だが、怒らせるととても怖く大変なことに。</string>
	</dict>
	<key>data7</key>
	<dict>
		<key>name</key>
		<string>もこ</string>
		<key>rgb</key>
		<string>RG-</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>素直な性格で、いつも微笑んでいる。普段から、あまり目立とうとはしない。</string>
	</dict>
	<key>data6</key>
	<dict>
		<key>name</key>
		<string>マッグル</string>
		<key>rgb</key>
		<string>RR+</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>大きい体で怖がられることもあるが、実は心優しく非常に熱血な性格。</string>
	</dict>
	<key>data5</key>
	<dict>
		<key>name</key>
		<string>あかどん</string>
		<key>rgb</key>
		<string>RR-</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>マイペースな性格で、よく食べてよく寝る。力がとても強い。</string>
	</dict>
	<key>data4</key>
	<dict>
		<key>name</key>
		<string>のーむん</string>
		<key>rgb</key>
		<string>G</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>気まぐれな性格で、ちょっと反抗的。自然が大好きで、よくハイキングをしている。</string>
	</dict>
	<key>data3</key>
	<dict>
		<key>name</key>
		<string>ぴちょん</string>
		<key>rgb</key>
		<string>B</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>雨の日のおさんぽが大好き。ちょっぴりやんちゃだけれど、実は真面目。</string>
	</dict>
	<key>data2</key>
	<dict>
		<key>name</key>
		<string>もえるん</string>
		<key>rgb</key>
		<string>R</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>陽気な性格で、テンションが高い。いつもみんなを引っ張っている。</string>
	</dict>
	<key>data1</key>
	<dict>
		<key>name</key>
		<string>もちりん</string>
		<key>rgb</key>
		<string>NORMAL</string>
		<key>haved</key>
		<true/>
		<key>text</key>
		<string>穏やかな性格。何を考えているのかわからないが、色んな可能性を秘めている…かも。</string>
	</dict>
</dict>
</plist>
