<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item3</key>
	<dict>
		<key>charanumber</key>
		<integer>3</integer>
		<key>picturenumber</key>
		<integer>1</integer>
		<key>image</key>
		<string>photo3</string>
	</dict>
	<key>item2</key>
	<dict>
		<key>charanumber</key>
		<integer>2</integer>
		<key>picturenumber</key>
		<integer>1</integer>
		<key>image</key>
		<string>photo2</string>
	</dict>
	<key>item1</key>
	<dict>
		<key>charanumber</key>
		<integer>1</integer>
		<key>picturenumber</key>
		<integer>1</integer>
		<key>image</key>
		<string>photo1</string>
	</dict>
</dict>
</plist>
