<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>500</integer>
		<key>image</key>
		<string>kagu1</string>
		<key>name</key>
		<string>サボテン</string>
		<key>haved</key>
		<true/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>800</integer>
		<key>image</key>
		<string>kagu2</string>
		<key>name</key>
		<string>洒落たイス</string>
		<key>haved</key>
		<true/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>500</integer>
		<key>image</key>
		<string>kagu3</string>
		<key>name</key>
		<string>こさねぇ</string>
		<key>haved</key>
		<true/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>600</integer>
		<key>image</key>
		<string>kagu4</string>
		<key>name</key>
		<string>観葉植物１</string>
		<key>haved</key>
		<true/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>700</integer>
		<key>image</key>
		<string>kagu5</string>
		<key>name</key>
		<string>木のイス</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>1000</integer>
		<key>image</key>
		<string>kagu6</string>
		<key>name</key>
		<string>本棚</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>1500</integer>
		<key>image</key>
		<string>kagu7</string>
		<key>name</key>
		<string>ちくおんき</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>700</integer>
		<key>image</key>
		<string>kagu8</string>
		<key>name</key>
		<string>金魚鉢</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>1500</integer>
		<key>image</key>
		<string>kagu9</string>
		<key>name</key>
		<string>ギター</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>2000</integer>
		<key>image</key>
		<string>kagu10</string>
		<key>name</key>
		<string>招き猫</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>1500</integer>
		<key>image</key>
		<string>kagu11</string>
		<key>name</key>
		<string>地球儀</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>800</integer>
		<key>image</key>
		<string>kagu12</string>
		<key>name</key>
		<string>ひまわり</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>1200</integer>
		<key>image</key>
		<string>kagu13</string>
		<key>name</key>
		<string>観葉植物２</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>900</integer>
		<key>image</key>
		<string>kagu14</string>
		<key>name</key>
		<string>鳥かご</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>1500</integer>
		<key>image</key>
		<string>kagu15</string>
		<key>name</key>
		<string>ノートパソコン</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>1500</integer>
		<key>image</key>
		<string>kagu16</string>
		<key>name</key>
		<string>スタンドライト</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>2000</integer>
		<key>image</key>
		<string>kagu17</string>
		<key>name</key>
		<string>ハンモック</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>1200</integer>
		<key>image</key>
		<string>kagu18</string>
		<key>name</key>
		<string>テーブル</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>1000</integer>
		<key>image</key>
		<string>kagu19</string>
		<key>name</key>
		<string>観葉樹</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>1</integer>
		<key>point</key>
		<integer>1000</integer>
		<key>image</key>
		<string>kagu20</string>
		<key>name</key>
		<string>和な証明</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>2</integer>
		<key>point</key>
		<integer>2000</integer>
		<key>image</key>
		<string>back1</string>
		<key>name</key>
		<string>普通の壁紙</string>
		<key>haved</key>
		<true/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>2</integer>
		<key>point</key>
		<integer>1500</integer>
		<key>image</key>
		<string>back2</string>
		<key>name</key>
		<string>モノクロの壁紙</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>2</integer>
		<key>point</key>
		<integer>2500</integer>
		<key>image</key>
		<string>back3</string>
		<key>name</key>
		<string>シックな壁紙</string>
		<key>haved</key>
		<true/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>2</integer>
		<key>point</key>
		<integer>2500</integer>
		<key>image</key>
		<string>back4</string>
		<key>name</key>
		<string>ブルーの壁紙</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>2</integer>
		<key>point</key>
		<integer>2000</integer>
		<key>image</key>
		<string>back5</string>
		<key>name</key>
		<string>優しい壁紙</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>2</integer>
		<key>point</key>
		<integer>3000</integer>
		<key>image</key>
		<string>back6</string>
		<key>name</key>
		<string>和風な壁紙</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>2</integer>
		<key>point</key>
		<integer>3000</integer>
		<key>image</key>
		<string>back7</string>
		<key>name</key>
		<string>ラブリーな壁紙</string>
		<key>haved</key>
		<false/>
	</dict>
	<dict>
		<key>kind</key>
		<integer>2</integer>
		<key>point</key>
		<integer>4000</integer>
		<key>image</key>
		<string>back8</string>
		<key>name</key>
		<string>真っ白な壁紙</string>
		<key>haved</key>
		<false/>
	</dict>
</array>
</plist>
