<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item1</key>
	<dict>
		<key>monsterid</key>
		<integer>1</integer>
		<key>r</key>
		<integer>50</integer>
		<key>g</key>
		<integer>0</integer>
		<key>b</key>
		<integer>0</integer>
		<key>generation</key>
		<integer>1</integer>
		<key>name</key>
		<string>あるくん</string>
		<key>started</key>
		<date>2015-09-04T00:45:34Z</date>
		<key>ended</key>
		<date>2015-09-14T00:30:00Z</date>
		<key>totaldistance</key>
		<real>42.1</real>
		<key>totalstep</key>
		<integer>10000</integer>
		<key>efforts</key>
		<integer>0</integer>
		<key>godpoint</key>
		<integer>0</integer>
	</dict>
	<key>item3</key>
	<dict>
		<key>monsterid</key>
		<integer>3</integer>
		<key>r</key>
		<integer>100</integer>
		<key>g</key>
		<integer>60</integer>
		<key>b</key>
		<integer>0</integer>
		<key>generation</key>
		<integer>3</integer>
		<key>name</key>
		<string>あるお</string>
		<key>started</key>
		<date>2015-09-25T03:45:34Z</date>
		<key>ended</key>
		<date>1989-12-31T15:00:00Z</date>
		<key>totaldistance</key>
		<real>30.3</real>
		<key>totalstep</key>
		<integer>10000</integer>
		<key>efforts</key>
		<integer>0</integer>
		<key>godpoint</key>
		<integer>0</integer>
	</dict>
	<key>item2</key>
	<dict>
		<key>monsterid</key>
		<integer>2</integer>
		<key>r</key>
		<integer>100</integer>
		<key>g</key>
		<integer>0</integer>
		<key>b</key>
		<integer>0</integer>
		<key>generation</key>
		<integer>2</integer>
		<key>name</key>
		<string>あるちゃん</string>
		<key>started</key>
		<date>2015-09-14T00:45:34Z</date>
		<key>ended</key>
		<date>2015-09-25T01:24:21Z</date>
		<key>totaldistance</key>
		<real>50.3</real>
		<key>totalstep</key>
		<integer>20000</integer>
		<key>efforts</key>
		<integer>0</integer>
		<key>godpoint</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
